.text-center {
    text-align: center;
}

.text-white {
    color: #ffffff;
}

.bg-red{
    background-color: #ff0000;
}


/* display flex */
/* margin t b l r */
/* m-x | m-y */

.m-1{
    margin: 20px;
}

.mt-1{
    margin-top: 20px;
}